.shipment-modal {
  background-color: azure;
  height: 100%;
}

form > div { height: 500px;}

.shipping-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.error-div {
  color: red;

}

.shipping-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.address-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: 300px;
}

.region-details {
  display: flex;
  align-items: center;
  height: 5rem;
}

.region-details select {
  margin: 0 40px 0 10px;
}

.region-details select {
  height: 30px;
  width: 80px;
}