.shipment-modal {
  background-color: transparent;
  color: #f2feff;
  font-weight: 600;
  letter-spacing: 3px;
  height: 100%;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-div {
  color: red;
}

.shipping-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.address-details {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  width: 300px;
  margin: 5px;
}

.region-details {
  display: flex;
  align-items: center;
  height: 5rem;
}

.region-details select {
  margin: 0 40px 0 10px;
}

.region-details select {
  height: 30px;
  width: 100px;
}

.ship-method-panel {
  padding: 0.5em;
  width: 100%;
}

@media (max-width: 850px) {
  .shipment-modal {
    height: auto;
    overflow-y: scroll;
  }
}
