.cart-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 95%;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(180deg, #87ceeb 0%, #b0c4de 100%);
  font-weight: bolder;
}

.cart-header {
  display: flex;
  justify-content: flex-end;
  border: 3px solid white;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #425cc5, white)
}

.cart-close-btn {
  display: flex;
  color: whitesmoke;
  height: 40px;
  width: 8rem;
  font-size: small;
  font-weight: 800;
  align-items: center;
  background-color: #425cc5;
  letter-spacing: 2px;
  justify-content: center;
  margin-right: 20px;
}

.cart-content {
  display: flex;
  width: 100%;
  padding: 5px;
  border: 3px solid white;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  background-color: rgb(247, 245, 242);
}

