.cart-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(180deg, #87ceeb 0%, #b0c4de 100%);
  font-weight: bolder;
}

.cart-modal .cart-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}

.cart-header {
  display: flex;
  justify-content: flex-end;
  border: 3px solid white;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #425cc5, white)
}

.cart-close-btn {
  display: flex;
  color: whitesmoke;
  height: 40px;
  width: 8rem;
  font-size: small;
  font-weight: 800;
  align-items: center;
  background-color: #425cc5;
  letter-spacing: 2px;
  justify-content: center;
  margin-right: 20px;
}

.cart-content {
  display: flex;
  padding: 5px;
  border: 3px solid white;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  background-color: rgb(247, 245, 242);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  background-color: #b0c4de;
  width: 100%;
  border-radius: 5px;
  padding: 10px 30px;
}

.cart-item, .line-item-total {
  color: rgb(9, 9, 68);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  font-size: 25px;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: x-small;
  align-items: center;
  height: 10px;
  padding: 0;
}

.all-cart-items button {
  width: 5em;
  height: 2rem;
  color: #87ceeb;
}

.all-cart-items i {
  font-size: 20px;
  width: 15px;
  height: 15px;
}