.cart-items {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0;
  gap: 1rem;
  margin-top: 0.5em;
  background-color: #b0c4de;
  width: 100%;
  border-radius: 5px;
}

.cart-item-image img {
  width: 100px;
}

.cart-item,
.line-item-total {
  color: rgb(9, 9, 68);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 25px;
}

.cartItem-middle {
  display: flex;
  gap: 1em;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: x-small;
  align-items: center;
  padding: 0;
  background-color: black;
}

.all-cart-items button {
  width: 4em;
  height: 1rem;
  color: #87ceeb;
  box-shadow: none;
}

@media (max-width: 1000px) {
  .all-cart-items button {
    width: 2em;
    height: 1rem;
    color: #87ceeb;
  }
}

@media (max-width: 500px) {
  .cart-item-image img {
    width: 80px;
  }
  .cartItem-middle .cart-item {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .cartItem-middle { flex-direction: column;}
  .line-item-total {
    font-size: 20px;
  }
}


.details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.close-details {
  width: 30px;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.details-container .cartItem-middle {
  flex-direction: column;
}

.details-container img {
  width: 50%;
  margin: 20px;
}

.details-container .cart-items {
  flex-direction: column;
  width: 50%;
}

.details-container .cart-item-image {
  display: flex;
  justify-content: space-between;
}
