.order-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 50%;
  width: 70%;
  border-radius: 5px;
  padding: 5px;
  background-color: #13294a;
  overflow-y: auto;
}

.order-summary {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 3rem;
  width: 100%;
}

.stage-window {
  height: 100%;
  margin-right: 5px;
  padding: 5px;
}

@media (max-width: 1400px) {
  .order-window {
    padding-top: 100px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .order-summary {
    flex-direction: column;
    padding: 5px;
  }
  .order-window {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 850px) {
  .order-window {
    padding-top: 130px;
    width: 100%;
  }
  .order-summary {
    padding: 5px;
  }
}
