.order-window {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.stage-window {
  margin-right: 5px;
}

.summary-window {
  border-radius: 5px;
  background-color:darkslategrey

}