.order-window {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  border-radius: 5px;
  padding: 5px;
  background-color: #13294a;
  overflow-y: auto;
  height: 80vh;
}

.stage-window {
  height: 100%;
  margin-right: 5px;
  padding: 5px;
}

.summary-window {
  border-radius: 5px;
  background-color:darkslategrey;
}

@media (max-width: 1000px) {
  .order-window {
    flex-direction: column;
    width: 95%;
  }
}

@media (max-width: 384px) {
}