.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  margin: 15px;
  height: 28rem;
  width: 16rem;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(232, 234, 238, 1) 0%, rgba(0, 0, 0, 1) 90%);
  border: 10px solid #5a5a5a;
  border-radius: 3px;
}

.card img {
  position: relative;
  transition: transform 0.5s ease-in-out;
  filter: grayscale(70%);
}

.card.active {
  overflow: visible;
  border-color: aliceblue;
  background: linear-gradient(0deg, rgba(232, 234, 238, 1) 0%, rgb(6, 3, 50) 50%);

  
}

.card.active img {
  transform: scale(1.15);
  z-index: 5;
  filter: grayscale(0%);

}

button {
  position: relative;
  z-index: 6; 
}


.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.front .details {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: .5rem;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  overflow: visible;
}

.details {
  position: absolute;
  color:rgba(232, 234, 238, 1);
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-btn-div button {
  background-color: rgb(43, 182, 28);
}

.active  button {
  background-color: red;
}

.buy-btn-div {
  display: flex;
}

h2 {
  margin: 0; 
  padding: 0;
}

@media (max-width: 480px) {
  .front img {
    width: 300%;
    height: 300%;
  }

  .details {
    font-size: small;
  }

}

@media (max-width: 384px) {
  .card {
    height: 20rem;
    width: 10rem;
  }
}




