.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  font-size: large;
  border: 3px solid white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: darkslategrey;
}

.summary-item {
  display: flex;
  align-items: center;
  background-color: #cccccc;
  border-radius: 5px;
  font-size: medium;
  margin: 0.5rem;
}

.summary-item .item-img img {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.summary-details {
  color: aliceblue;
  width: 100%;
}

.item-subTotal {
  display: flex;
  margin-left: 3rem;
}

.promo-box {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.promo-box input {
  width: 70%;
}

.promo-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 136, 212);
  border-color: rgb(151, 150, 206);
  color: rgb(224, 224, 233);
  padding: 10px;
  width: 50px;
  height: 30px;
  margin: 10px;
  font-size: x-small;
}

button:disabled {
  background-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
}

.summary-proceed-btn {
  font-size: small;
  margin-top: 15px;
}
