.cart-modal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(180deg, #87ceeb 0%, #b0c4de 100%);
}

.cart-left, .cart-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 1;
}

.cart-header {
  display: flex;
  justify-content: flex-end;
  border: 3px solid white;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #425cc5, white)
}

.cart-close-btn {
  display: flex;
  color: whitesmoke;
  height: 40px;
  width: 70px;
  font-size: small;
  font-weight: 800;
  align-items: center;
  background-color: #425cc5;
  letter-spacing: 2px;
  justify-content: center;
  margin-right: 20px;
}

.cart-content {
  display: flex;
  padding: 5px;
  border: 3px solid white;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  background-color: rgb(247, 245, 242);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-item, .line-item-total {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.quantity-btn {
  display: flex;
  color: whitesmoke;
  font-size: xx-small;
  align-items: center;
  height: 10px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  border: 3px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.promo-box {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: space-between;
}
