.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  margin: 15px;
  height: 28rem;
  width: 16rem;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(232, 234, 238, 1) 0%, rgba(0, 0, 0, 1) 90%);
  border: 10px solid #5a5a5a;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  overflow: visible;
}

.details {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-btn-div button {
  background-color: rgb(43, 182, 28);
}

.active  button {
  background-color: red;
}

.buy-btn-div {
  display: flex;
}

h2 {
  margin: 0; 
  padding: 0;
}

@media (max-width: 480px) {
  .front img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 384px) {
  .card {
    height: 20rem;
    width: 10rem;
  }
}




