.login-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}

.user-block {
  display: flex;
  align-items: center;
  color: white;
}

.login-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-block div {
  margin: 0 20px;
}

.btn {
  background-color: blueviolet;
  padding: 3px;
  border-radius: 3px;
}

.featured-items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 15px;
  height: 420px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(232, 234, 238, 1) 0%, rgba(0, 0, 0, 1) 90%);
  border: 4px solid white;
}

img {
  width: 250px;
  height: auto;
}

.lion-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: white;
  /* font-size: 20px; */
  font-weight: bold;
}

h2 { margin: 0; padding: 0;};
