.store-front {
  display: flex;
  flex-direction: column;
}

.login-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}

.user-block {
  display: flex;
  align-items: center;
  color: white;
}

.login-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-block div {
  margin: 0 20px;
}

.featured-items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

