.store-front {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.how-to-form-voltron h1 {
  display: flex;
  margin-top: 60px;

  flex-wrap: wrap;
  color:aqua;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.featured-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1450px) {
  .how-to-form-voltron {
    margin-top: 100px;
  }
  .featured-items {
    margin-top: 20px;
  }
}


@media (max-width: 1200px) {
  .login-header {
    padding: 0 10%;
  }
}

@media (max-width: 825px) {
  .shipping-modal {
    height: 50%;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 40px;
  }
  
}

@media (max-width: 480px) {
  .title-block { margin: 0;}
  h1 { font-size: 20px; padding: 0.5em;}
  .login-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
