.progress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: rgb(29, 8, 8);
  padding: 15px;
  margin-bottom: 5px;
  background-color: rgb(31, 28, 28);
}

.stage-box {
  display: flex;
  align-items: center;
}

.p-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* width: 200px; */
  height: 45px;
  border-radius: 10px;
  letter-spacing: 1px;
  background-color:rgb(237, 243, 235);
  padding: 20px;
}

.p-Box.active, .p-Bar.active {
  background-color: green;
  color: white;
  font-weight: 800;
  font-size: large;
  letter-spacing: 3px;
}


.p-Bar {
  width: 100%;
  height: 10px;
  background-color:rgb(237, 243, 235);

}

@media (max-width: 850px) {
  .p-Box {
    width: auto;
    padding: .5em;
  } 
}

.active-segment {
  background-color: chartreuse;
}

@media (max-width: 470px) {
  .stage-box, .p-Box.active {
    font-size: xx-small;
  }

  .p-Box {
    width: auto;
    padding: 0.2em;
  }
}